:root {
  --frankencoin-pay---brand-colorccs--titan-gray: #5d647b;
  --frankencoin-pay---brand-colors--deep-blue: #092f62;
  --frankencoin-pay---gray--30: #ced1da;
  --frankencoin-pay---brand-colors--anthracite: #272b38;
  --frankencoin-pay---brand-colors--swiss-blue: #0f80f0;
  --frankencoin-pay---white: white;
  --frankencoin-pay---black: black;
  --frankencoin-pay---button-corner-radius: 4px;
  --frankencoin-pay---5: #f7f7f9;
  --frankencoin-pay---10: #eff0f3;
  --frankencoin-pay---blue-pallet--blue-50: #0f80f0;
  --frankencoin-pay---brand-colors--white: white;
  --frankencoin-pay---brand-colors--titan-gray: #5d647b;
  --frankencoin-pay---font--display-desktop: "Avenir Black 900", sans-serif;
  --frankencoin-pay---font--large-title: "Avenir Black 900", sans-serif;
  --frankencoin-pay---font--title-1-desktop: "Avenir Black 900", sans-serif;
  --frankencoin-pay---font--title-2-desktop: "Avenir Black 900", sans-serif;
  --frankencoin-pay---font--title-3-desktop: "Avenir Heavy 900", sans-serif;
  --frankencoin-pay---font--subtitle-desktop: "Avenir Book 400", sans-serif;
  --frankencoin-pay---font--body-1-desktop: "Avenir Book 400", sans-serif;
  --frankencoin-pay---font--body-1-stronger-desktop: "Avenir Black 900", sans-serif;
  --frankencoin-pay---font--body-2-desktop: "Avenir Book 400", sans-serif;
  --frankencoin-pay---font--body-2-stronger-desktop: "Avenir Black 900", sans-serif;
  --frankencoin-pay---font--display-mobile: "Avenir Black 900", sans-serif;
  --frankencoin-pay---font--large-title-mobile: "Avenir Black 900", sans-serif;
  --frankencoin-pay---font--titel-1-mobile: "Avenir Black 900", sans-serif;
  --frankencoin-pay---font--body-1-stronger-mobile: "Avenir Heavy 900", sans-serif;
  --frankencoin-pay---font--body-1-mobile: "Avenir Book 400", sans-serif;
  --frankencoin-pay---font--body-3-mobile: "Avenir Book 400", sans-serif;
  --frankencoin-pay---font--body-3-stronger-mobile: "Avenir Black 900", sans-serif;
  --frankencoin-pay---font--button-l: "Avenir Heavy 900", sans-serif;
  --frankencoin-pay---font--xs: "Avenir Book 400", sans-serif;
  --frankencoin-pay---font--xs-b: "Avenir Black 900", sans-serif;
  --frankencoin-pay---font--sm-stronger: "Avenir Heavy 900", sans-serif;
  --frankencoin-pay---font-size--display-desktop: 64px;
  --frankencoin-pay---font-size--large-title: 48px;
  --frankencoin-pay---font-size--title-1-desktop: 32px;
  --frankencoin-pay---font-size--title-2-desktop: 26px;
  --frankencoin-pay---font-size--title-3-desktop: 20px;
  --frankencoin-pay---font-size--subtitle-desktop: 16px;
  --frankencoin-pay---font-size--body-1-desktop: 20px;
  --frankencoin-pay---font-size--body-1-stronger-desktop: 20px;
  --frankencoin-pay---font-size--body-2-desktop: 16px;
  --frankencoin-pay---font-size--body-2-stronger-desktop: 16px;
  --frankencoin-pay---font-size--display-mobile: 42px;
  --frankencoin-pay---font-size--large-title-mobile: 38px;
  --frankencoin-pay---font-size--titel-1-mobile: 32px;
  --frankencoin-pay---font-size--body-1-stronger-mobile: 20px;
  --frankencoin-pay---font-size--body-1-mobile: 20px;
  --frankencoin-pay---font-size--body-3-mobile: 16px;
  --frankencoin-pay---font-size--body-3-stronger-mobile: 16px;
  --frankencoin-pay---font-size--button-l: 16px;
  --frankencoin-pay---font-size--xs: 12px;
  --frankencoin-pay---font-size--sm-stronger: 14px;
  --frankencoin-pay---gray--80: #4f566e;
  --frankencoin-pay---gray--60: #8b92a8;
  --frankencoin-pay---gray--75: #5d647b;
  --frankencoin-pay---gray--20: #dfe0e6;
  --frankencoin-pay---gray--15: #e5e6eb;
  --frankencoin-pay---line-height--display-desktop: 70px;
  --frankencoin-pay---line-height--title-1-desktop: 36px;
  --frankencoin-pay---line-height--subtitle-desktop: 21px;
  --frankencoin-pay---line-height--body-1-desktop: 27px;
  --frankencoin-pay---line-height--body-1-stronger-desktop: 27px;
  --frankencoin-pay---line-height--body-2-desktop: 23px;
  --frankencoin-pay---line-height--body-2-stronger-desktop: 23px;
  --frankencoin-pay---line-height--display-mobile: 46px;
  --frankencoin-pay---line-height--large-title-mobile: 38px;
  --frankencoin-pay---line-height--titel-1-mobile: 34px;
  --frankencoin-pay---line-height--body-1-stronger-mobile: 26px;
  --frankencoin-pay---line-height--body-1-mobile: 26px;
  --frankencoin-pay---line-height--body-3-mobile: 20px;
  --frankencoin-pay---line-height--body-3-stronger-mobile: 20px;
  --frankencoin-pay---neutral--foreground--on-brand--rest: #fff;
  --frankencoin-pay---neutrals--neutral-100: #f9f9fb;
  --frankencoin-pay---neutrals--neutral-550: #6e7c90;
  --frankencoin-pay---neutrals--neutral-200: #eeeef2;
  --frankencoin-pay---neutrals--neutral-500: #94a2b8;
  --frankencoin-pay---neutrals--neutral-650: #333e4c;
  --frankencoin-pay---neutrals--neutral-300: #d9dbe9;
  --frankencoin-pay---neutrals--neutral-800: #101827;
  --frankencoin-pay---neutrals--neutral-770: #1a2536;
  --frankencoin-pay---neutrals--neutral-700: #1f2a3d;
  --frankencoin-pay---neutrals--neutral-600: #475569;
  --frankencoin-pay---neutrals--neutral-400: #b7bfd1;
  --frankencoin-pay---neutrals--neutral-675: #283243;
  --frankencoin-pay---neutrals--neutral-900: #020617;
  --frankencoin-pay---paddings--xs: 4px;
  --frankencoin-pay---paddings--l: 16px;
  --frankencoin-pay---paddings--snudge: 6px;
  --frankencoin-pay---paddings--s: 8px;
}

.header {
  z-index: 1;
  grid-column-gap: 20px;
  background-color: #0000;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
  position: absolute;
}

.logo {
  grid-row-gap: 10px;
  background-color: #bdc1ce;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 56px;
  padding: 12px 24px;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 124px;
  height: 32px;
  text-decoration: none;
  display: flex;
}

.center {
  grid-column-gap: 32px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.nav-text {
  color: var(--frankencoin-pay---brand-colorccs--titan-gray);
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Satoshi Variable, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
}

.hero {
  background-color: #f5f6f9;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 750px;
  text-decoration: none;
  display: flex;
  position: relative;
  overflow: hidden;
}

.frame-1 {
  grid-row-gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.vectors-wrapper-2 {
  object-fit: cover;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  height: 400px;
  text-decoration: none;
  display: flex;
}

.text-left {
  z-index: 1;
  grid-column-gap: 10px;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  min-width: 600px;
  max-width: 100%;
  height: 750px;
  padding-left: 120px;
  text-decoration: none;
  display: flex;
  position: absolute;
}

.slider-titles {
  color: var(--frankencoin-pay---brand-colors--deep-blue);
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Satoshi Variable, sans-serif;
  font-size: 80px;
  font-weight: 900;
  line-height: 88px;
  text-decoration: none;
  display: flex;
}

.hero-2 {
  background-color: #f5f6f9;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  height: 750px;
  text-decoration: none;
  display: flex;
}

.image {
  z-index: 0;
  flex: none;
  max-height: 750px;
  margin-right: 0%;
  display: block;
  position: absolute;
  right: 0;
}

.lightbox-link {
  text-decoration: none;
}

.newsletter-abo {
  grid-row-gap: 36px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  height: 300px;
  padding-top: 64px;
  text-decoration: none;
  display: flex;
}

.text {
  color: var(--frankencoin-pay---brand-colors--deep-blue);
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Satoshi Variable, sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.input {
  grid-column-gap: 12px;
  border-radius: 12px;
  flex: 0 auto;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 528px;
  text-decoration: none;
  display: flex;
}

.basic-input {
  border: 1px solid var(--frankencoin-pay---gray--30);
  color: var(--frankencoin-pay---brand-colors--anthracite);
  background-color: #fff;
  border-radius: 8px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 360px;
  height: 44px;
  padding: 12px;
  font-family: Satoshi Variable, sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  display: flex;
}

.basic-input:focus {
  border-width: 2px;
  border-color: var(--frankencoin-pay---brand-colors--swiss-blue);
}

.basic-input::placeholder {
  color: #bdc1ce;
}

.input-text {
  color: #adb2c2;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  text-decoration: none;
}

.button {
  grid-column-gap: 8px;
  background-color: var(--frankencoin-pay---brand-colors--deep-blue);
  border-radius: 8px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 156px;
  height: 44px;
  padding: 10px 16px;
  font-family: Satoshi Variable, sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  display: flex;
}

.button:hover {
  background-color: var(--frankencoin-pay---brand-colors--swiss-blue);
}

.text-2 {
  color: #fff;
  letter-spacing: -.01em;
  flex: none;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  display: flex;
}

.form {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.form-block {
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 528px;
  margin-bottom: 0;
  display: flex;
}

.submit-button {
  background-color: #0a2f62;
}

.slider {
  pointer-events: none;
  background-color: #0000;
  width: 100%;
  min-width: 600px;
  max-width: 100%;
  height: 440px;
  margin-top: 20px;
  transition-property: opacity;
  transition-duration: .2s;
  transition-timing-function: ease;
  display: block;
}

.slide {
  vertical-align: middle;
  height: auto;
  margin-left: 0;
  margin-right: 0;
  padding-right: 0;
  position: relative;
}

.slide-2 {
  vertical-align: middle;
  object-fit: fill;
  height: auto;
}

.slide-3, .slide-4 {
  vertical-align: middle;
  height: auto;
}

.image-mobile {
  display: none;
}

.terms {
  grid-column-gap: 12px;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.label-text {
  color: var(--frankencoin-pay---brand-colorccs--titan-gray);
  margin-top: 0;
  margin-bottom: 0;
  font-family: Satoshi Variable, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-decoration: none;
}

.div-block {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
}

.success-message {
  background-color: #e4f0fc;
  border-radius: 4px;
  font-family: Satoshi Variable, sans-serif;
  font-size: 16px;
}

.text-block {
  color: #272b38;
  font-weight: 400;
}

.error-message {
  color: #c81e1d;
  text-align: center;
  border-radius: 8px;
  height: 44px;
  margin-top: 0;
  margin-left: 12px;
  padding: 4px 8px;
  font-family: Satoshi Variable, sans-serif;
  font-weight: 500;
  line-height: 17px;
}

.link {
  color: var(--frankencoin-pay---brand-colorccs--titan-gray);
}

.mask {
  padding-top: 0;
}

@media screen and (max-width: 991px) {
  .hero {
    justify-content: center;
    align-items: flex-start;
    height: 700px;
  }

  .text-left {
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    min-width: 100%;
    max-width: 600px;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .slider-titles {
    justify-content: flex-start;
    align-items: center;
    font-size: 46px;
    line-height: 46px;
  }

  .image {
    display: none;
  }

  .newsletter-abo {
    padding-top: 36px;
  }

  .text {
    font-size: 32px;
  }

  .slider {
    height: 180px;
  }

  .image-mobile {
    max-width: 73%;
    margin-top: 56px;
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .slider {
    min-width: 100%;
  }
}

@media screen and (max-width: 479px) {
  .header {
    grid-column-gap: 16px;
  }

  .logo {
    width: 100%;
    max-width: 156px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .vectors-wrapper {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: flex-start;
    align-items: center;
    width: 124px;
    height: 32px;
    padding-left: 0;
    padding-right: 0;
    overflow: visible;
  }

  .center {
    grid-column-gap: 32px;
    justify-content: flex-start;
    align-items: center;
  }

  .nav-text {
    font-size: 20px;
  }

  .hero {
    justify-content: flex-start;
    align-items: flex-start;
    height: 640px;
  }

  .text-left {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    min-width: 100%;
    height: 100%;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 36px;
    padding-right: 20px;
  }

  .slider-titles {
    justify-content: flex-start;
    align-items: center;
    padding-right: 0;
    font-size: 44px;
    line-height: 48px;
  }

  .newsletter-abo {
    grid-row-gap: 32px;
    height: 500px;
    padding-top: 36px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .text {
    text-align: left;
    font-size: 32px;
  }

  .basic-input {
    max-width: 500px;
  }

  .button {
    max-width: 156px;
  }

  .form {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 0;
    padding-right: 0;
  }

  .slider {
    aspect-ratio: auto;
    object-fit: fill;
    height: auto;
    margin-top: 0;
    padding-top: 0;
    padding-right: 0;
    display: block;
  }

  .slide, .slide-2, .slide-3, .slide-4 {
    vertical-align: top;
  }

  .image-mobile {
    max-width: 100%;
    margin-top: 56px;
    margin-left: 0;
    padding-left: 0;
  }

  .mask {
    margin-top: 0;
    padding-top: 0;
  }
}


@font-face {
  font-family: 'Avenir Oblique 400';
  src: url('../fonts/Avenir-Oblique-11.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Avenir Light 300';
  src: url('../fonts/Avenir-Light-07.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Avenir LightOblique 300';
  src: url('../fonts/Avenir-LightOblique-08.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Avenir Roman 400';
  src: url('../fonts/Avenir-Roman-12.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Avenir MediumOblique 500';
  src: url('../fonts/Avenir-MediumOblique-10.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Avenir Heavy 900';
  src: url('../fonts/Avenir-Heavy-05.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Avenir HeavyOblique 900';
  src: url('../fonts/Avenir-HeavyOblique-06.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Avenir BlackOblique 900';
  src: url('../fonts/Avenir-BlackOblique-04.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Avenir BookOblique 400';
  src: url('../fonts/Avenir-BookOblique-02.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Avenir Black 900';
  src: url('../fonts/Avenir-Black-03.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Avenir Medium 500';
  src: url('../fonts/Avenir-Medium-09.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Avenir Book 400';
  src: url('../fonts/Avenir-Book-01.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-Italic.ttf') format('truetype'), url('../fonts/Satoshi-VariableItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi Variable';
  src: url('../fonts/Satoshi-Variable.ttf') format('truetype');
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}